                        /*Import Core*/
                        
                        @import "core/reset-min";
                        @import "core/fonts";
                        @import "core/variables";
                        @import "core/mixin";
                        html {
                            font-size: 62.5%;
                        }
                        
                        .container {
                            background-color: $white;
                            display: flex;
                            overflow: auto;
                            flex-direction: column;
                            .section#home {
                                display: flex;
                                flex-direction: column;
                                height: 100vh;
                                width: 100%;
                                // background-color: $deepblue;
                                background-image: url(../images/HeroBGHome.svg);
                                background-repeat: no-repeat;
                                background-position: right;
                                background-size: 60%;
                                background-color: none;
                                .menu-bar {
                                    width: full-width;
                                }
                            }
                            .header {
                                display: flex;
                                width: full-width;
                                justify-content: space-between;
                                // background-color: $white;
                                align-items: center;
                                height: 8rem;
                                padding-left: 3rem;
                                padding-right: 3rem;
                                padding-top: 1rem;
                                .logo {
                                    display: flex;
                                    margin-left: 2rem;
                                }
                                .nav-menu {
                                    display: flex;
                                    ul {
                                        list-style: none;
                                        display: flex;
                                        li a:hover {
                                            color: #3B7CD6;
                                        }
                                        li.active a {
                                            color: #3B7CD6;
                                            border-bottom: 2px solid;
                                        }
                                        // li a:hover:not(.active) {
                                        //     color: white;
                                        //     border-bottom: 3px solid;
                                        // }
                                        .dropbtn {
                                            background-color: none;
                                            color: black;
                                            text-decoration: none;
                                            color: rgb(65, 65, 65);
                                            font-size: 1.4rem;
                                            font-family: 'SF UI Display', Helvetica, sans-serif;
                                            font-weight: normal;
                                            font-style: normal;
                                            // padding: 16px;
                                            // font-size: 16px;
                                            border: none;
                                            cursor: pointer;
                                        }
                                        .dropdown {
                                            display: inline-block;
                                            position: relative;
                                            box-sizing: border-box;
                                        }
                                        .dropdown-content {
                                            display: none;
                                            position: absolute;
                                            background-color: #f9f9f9;
                                            min-width: 200px;
                                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                            z-index: 1;
                                        }
                                        ul {
                                            display: block;
                                        }
                                        .dropdown-content a {
                                            color: black;
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                            font-size: 1.2rem;
                                        }
                                        /* Change color of dropdown links on hover */
                                        .dropdown-content a:hover {
                                            background-color: #f1f1f1
                                        }
                                        /* Show the dropdown menu on hover */
                                        .dropdown:hover .dropdown-content {
                                            display: block;
                                        }
                                        /* Change the background color of the dropdown button when the dropdown content is shown */
                                        .dropdown:hover .dropbtn {
                                            color: #3B7CD6;
                                            border-bottom: 2px solid;
                                        }
                                        li {
                                            padding-left: 3rem;
                                            padding-right: 3rem;
                                            display: flex;
                                            // li.active {
                                            //     color: red;
                                            //     border-bottom: 3px solid;
                                            // }
                                            a {
                                                text-decoration: none;
                                                color: rgb(65, 65, 65);
                                                font-size: 1.4rem;
                                                font-family: 'SF UI Display', Helvetica, sans-serif;
                                                font-weight: normal;
                                                font-style: normal;
                                            }
                                        }
                                    }
                                }
                            }
                            .toggle-nav {
                                display: none;
                            }
                            .main {
                                // margin-left: 17rem;
                                display: flex;
                                height: 100vh;
                                overflow: hidden;
                                position: relative;
                                flex-direction: column;
                                body {
                                    background: #f2f2f2;
                                    font-family: 'Open Sans', sans-serif;
                                }
                                .slogan_wrap {
                                    display: flex;
                                    flex-direction: column;
                                    width: 50%;
                                    position: relative;
                                    justify-content: space-between;
                                    top: 40%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    .slogan {
                                        width: 715px;
                                        height: 124px;
                                        font-family: HelveticaNeue;
                                        font-size: 52px;
                                        font-weight: bold;
                                        color: #3B7CD6;
                                        text-align: left;
                                        margin-bottom: 1.5%;
                                        line-height: 62px;
                                    }
                                    .sub_text {
                                        width: 785px;
                                        height: 86px;
                                        font-family: HelveticaNeue;
                                        font-size: 36px;
                                        font-weight: 500;
                                        text-align: left;
                                        line-height: 43px;
                                        color: #484848;
                                    }
                                }
                                .search {
                                    width: 100%;
                                    position: relative
                                }
                                .searchTerm {
                                    float: left;
                                    width: 100%;
                                    border: 1px solid rgb(197, 197, 197);
                                    padding: 25px;
                                    height: 60px;
                                    border-radius: 5px;
                                    outline: none;
                                    color: #9DBFAF;
                                    font-size: 1.4rem;
                                }
                                .searchTerm:focus {
                                    color: #00B4CC;
                                }
                                .searchButton {
                                    position: absolute;
                                    right: -50px;
                                    width: 80px;
                                    height: 40px;
                                    border: none;
                                    background: #3B7CD6;
                                    text-align: center;
                                    color: #fff;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    font-size: 1.4rem;
                                    margin: 10px 60px;
                                }
                                /*Resize the wrap to see the search bar change!*/
                                .wrap {
                                    display: flex;
                                    width: 50%;
                                    position: relative;
                                    justify-content: space-between;
                                    top: 35%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                // .section#container-header {
                                //     display: flex;
                                //     flex-direction: column;
                                //     height: 100vh;
                                //     width: 100%;
                                //     background-image: url(../images/HeroBGHome.svg);
                                //     background-repeat: no-repeat;
                                //     background-position: right;
                                //     background-size: 60%;
                                //     background-color: none;
                                // }
                            }
                        }
                        
                        #container-header {
                            background-color: #d7e5fa;
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            height: 70vh;
                            width: 100%;
                        }
                        
                        .slogan_wrap_about {
                            display: flex;
                            flex-direction: column;
                            width: 40%;
                            position: relative;
                            justify-content: space-between;
                            top: 40%;
                            left: 30%;
                            transform: translate(-50%, -50%);
                            .slogan-about-school {
                                width: 336px;
                                height: 86px;
                                font-family: HelveticaNeue;
                                font-size: 36px;
                                font-weight: bold;
                                line-height: 1.19;
                                text-align: left;
                                color: #365279;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-about-school {
                                width: 500px;
                                height: 96px;
                                font-family: HelveticaNeue;
                                font-size: 16px;
                                line-height: 1.5;
                                text-align: left;
                                color: #365279;
                            }
                            // .btn-light {
                            //     border: none;
                            //     /* Remove borders */
                            //     /* Add a text color */
                            //     color: #3B7CD6;
                            //     padding: 14px 7px;
                            //     font-size: 16px;
                            //     /* Add some padding */
                            //     cursor: pointer;
                            //     /* Add a pointer cursor on mouse-over */
                            //     /* Rectangle 4 Copy: */
                            //     border-radius: 3px;
                            // }
                        }
                        
                        .btn-light {
                            border: none;
                            /* Remove borders */
                            /* Add a text color */
                            color: #3B7CD6;
                            padding: 14px 7px;
                            font-size: 16px;
                            /* Add some padding */
                            cursor: pointer;
                            /* Add a pointer cursor on mouse-over */
                            /* Rectangle 4 Copy: */
                            border-radius: 3px;
                        }
                        
                        .container-header-image {
                            display: flex;
                            height: 1000px;
                            // width: 378px;
                            background-image: url(../images/fund-illustration.svg);
                            background-repeat: no-repeat;
                            // background-position: right;
                            background-size: 80%;
                            background-color: none;
                            margin-left: 60%;
                            margin-right: 10%;
                            // z-index: -1;
                        }
                        
                        #container-body-light {
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            height: 70vh;
                            width: 100%;
                        }
                        
                        .slogan_wrap_about_right {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            position: relative;
                            justify-content: space-between;
                            top: 40%;
                            left: 60%;
                            // transform: translate(-50%, -50%);
                            .slogan-about-sa {
                                width: 398px;
                                height: 40px;
                                font-family: HelveticaNeue;
                                font-size: 28px;
                                font-weight: bold;
                                line-height: 1.43;
                                text-align: left;
                                color: #484848;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-about-sa {
                                width: 421px;
                                height: 112px;
                                font-family: HelveticaNeue;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.33;
                                text-align: left;
                                color: #393959;
                            }
                        }
                        
                        .container-header-image-left {
                            display: flex;
                            height: 2500px;
                            // width: 400px;
                            background-image: url(../images/saforSchoolsImage.svg);
                            background-repeat: no-repeat;
                            background-position: right;
                            background-size: 50%;
                            background-color: none;
                            // margin-left: 40%;
                            margin-right: 50%;
                            // z-index: -1;
                        }
                        
                        #container-body-dark {
                            background-color: #F4F8FB;
                            display: flex;
                            flex-direction: column;
                            height: 70vh;
                            width: 100%;
                        }
                        
                        .slogan_wrap_about_left {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            position: relative;
                            justify-content: space-between;
                            top: 40%;
                            left: 18%;
                            // transform: translate(-50%, -50%);
                            .slogan-about-sa {
                                width: 398px;
                                height: 40px;
                                font-family: HelveticaNeue;
                                font-size: 28px;
                                font-weight: bold;
                                line-height: 1.43;
                                text-align: left;
                                color: #484848;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-about-sa {
                                width: 421px;
                                height: 112px;
                                font-family: HelveticaNeue;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.33;
                                text-align: left;
                                color: #393959;
                            }
                        }
                        
                        .container-header-image-right {
                            display: flex;
                            height: 2000px;
                            // width: 900px;
                            background-image: url(../images/PaymentMethodsIllustrations.svg);
                            background-repeat: no-repeat;
                            background-position: left;
                            background-size: 50%;
                            background-color: none;
                            // margin-left: 40%;
                            margin-left: 60%;
                            // z-index: -1;
                        }
                        
                        .project-illustration {
                            background-image: url(../images/Page1.svg);
                        }
                        
                        .endowment-illustration {
                            background-image: url(../images/EndowmentIllustrartion.svg);
                            margin-right: 50%;
                            background-size: 45%;
                        }
                        
                        .payment-illustration {
                            background-image: url(../images/PaymentMethodsIllustrations.svg);
                            background-size: 70%;
                        }
                        
                        #footer-cta {
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 40vh;
                            position: relative;
                            justify-content: center;
                            // top: 10%;
                            // left: 25%;
                            // transform: translate(-50%, -50%);
                        }
                        
                        .slogan_wrap_about_center {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            position: relative;
                            justify-content: center;
                            align-content: center;
                            top: 10%;
                            left: 25%;
                            .slogan-cta {
                                width: 486px;
                                height: 40px;
                                font-family: HelveticaNeue;
                                font-size: 28px;
                                font-weight: bold;
                                line-height: 1.43;
                                text-align: center;
                                color: #484848;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-cta {
                                width: 620px;
                                height: 54px;
                                font-family: HelveticaNeue;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.33;
                                text-align: center;
                                color: #393959;
                            }
                        }
                        
                        .bottom-cta {
                            display: flex;
                            width: 100%;
                            position: relative;
                            align-items: center;
                            flex-direction: column;
                        }
                        
                        .button-wrap {
                            display: flex;
                            width: 100%;
                            position: relative;
                            align-content: center;
                        }
                        
                        .btn {
                            border: none;
                            /* Remove borders */
                            /* Add a text color */
                            color: white;
                            padding: 14px 7px;
                            font-size: 16px;
                            /* Add some padding */
                            cursor: pointer;
                            /* Add a pointer cursor on mouse-over */
                            /* Rectangle 4 Copy: */
                            border-radius: 3px;
                        }
                        
                        .success {
                            background-color: #8BB6F4;
                            margin-bottom: 10%;
                            margin-top: 5%;
                            width: 30%;
                            margin-left: 35%;
                        }
                        /* Green */
                        
                        .success:hover {
                            background-color: #3B7CD6;
                        }
                        
                        .body {
                            // display: flex;
                            // 
                            width: 100%;
                            overflow-x: hidden;
                        }
                        
                        .normal {
                            background-color: white;
                            margin-top: 10%;
                            width: 25%;
                            color: #3B7CD6;
                        }
                        /* Green */
                        
                        .normal:hover {
                            background-color: f4f6f8;
                        }