                        /*Import Core*/
                        
                        @import "core/reset-min";
                        @import "core/fonts";
                        @import "core/variables";
                        @import "core/mixin";
                        html {
                            font-size: 62.5%;
                        }
                        
                        .container {
                            background-color: $white;
                            display: flex;
                            overflow: auto;
                            flex-direction: column;
                            .section#home {
                                display: flex;
                                flex-direction: column;
                                height: 100vh;
                                width: 100%;
                                // background-color: $deepblue;
                                background-image: url(../images/HeroBGHome.svg);
                                background-repeat: no-repeat;
                                background-position: right;
                                background-size: 60%;
                                background-color: none;
                                .menu-bar {
                                    width: full-width;
                                }
                            }
                            .header {
                                display: flex;
                                width: full-width;
                                justify-content: space-between;
                                // background-color: $white;
                                align-items: center;
                                height: 8rem;
                                padding-left: 3rem;
                                padding-right: 3rem;
                                padding-top: 1rem;
                                .logo {
                                    display: flex;
                                    margin-left: 2rem;
                                }
                                .nav-menu {
                                    display: flex;
                                    ul {
                                        list-style: none;
                                        display: flex;
                                        li a:hover {
                                            color: #3B7CD6;
                                        }
                                        li.active a {
                                            color: #3B7CD6;
                                            border-bottom: 2px solid;
                                        }
                                        // li a:hover:not(.active) {
                                        //     color: white;
                                        //     border-bottom: 3px solid;
                                        // }
                                        .dropbtn {
                                            background-color: none;
                                            color: black;
                                            text-decoration: none;
                                            color: rgb(65, 65, 65);
                                            font-size: 1.4rem;
                                            font-family: 'SF UI Display', Helvetica, sans-serif;
                                            font-weight: normal;
                                            font-style: normal;
                                            // padding: 16px;
                                            // font-size: 16px;
                                            border: none;
                                            cursor: pointer;
                                        }
                                        .dropdown {
                                            display: inline-block;
                                            position: relative;
                                            box-sizing: border-box;
                                        }
                                        .dropdown-content {
                                            display: none;
                                            position: absolute;
                                            background-color: #f9f9f9;
                                            min-width: 200px;
                                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                            z-index: 1;
                                        }
                                        ul {
                                            display: block;
                                        }
                                        .dropdown-content a {
                                            color: black;
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                            font-size: 1.2rem;
                                        }
                                        /* Change color of dropdown links on hover */
                                        .dropdown-content a:hover {
                                            background-color: #f1f1f1
                                        }
                                        /* Show the dropdown menu on hover */
                                        .dropdown:hover .dropdown-content {
                                            display: block;
                                        }
                                        /* Change the background color of the dropdown button when the dropdown content is shown */
                                        .dropdown:hover .dropbtn {
                                            color: #3B7CD6;
                                            border-bottom: 2px solid;
                                        }
                                        li {
                                            padding-left: 3rem;
                                            padding-right: 3rem;
                                            display: flex;
                                            // li.active {
                                            //     color: red;
                                            //     border-bottom: 3px solid;
                                            // }
                                            a {
                                                text-decoration: none;
                                                color: rgb(65, 65, 65);
                                                font-size: 1.4rem;
                                                font-family: 'SF UI Display', Helvetica, sans-serif;
                                                font-weight: normal;
                                                font-style: normal;
                                            }
                                        }
                                    }
                                }
                            }
                            .toggle-nav {
                                display: none;
                            }
                            .main {
                                // margin-left: 17rem;
                                display: flex;
                                height: 100vh;
                                overflow: hidden;
                                position: relative;
                                flex-direction: column;
                                body {
                                    background: #f2f2f2;
                                    font-family: 'Open Sans', sans-serif;
                                }
                                .slogan_wrap {
                                    display: flex;
                                    flex-direction: column;
                                    width: 50%;
                                    position: relative;
                                    justify-content: space-between;
                                    top: 40%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    .slogan {
                                        width: 715px;
                                        height: 124px;
                                        font-family: HelveticaNeue;
                                        font-size: 52px;
                                        font-weight: bold;
                                        color: #3B7CD6;
                                        text-align: left;
                                        margin-bottom: 1.5%;
                                        line-height: 62px;
                                    }
                                    .sub_text {
                                        width: 785px;
                                        height: 86px;
                                        font-family: HelveticaNeue;
                                        font-size: 36px;
                                        font-weight: 500;
                                        text-align: left;
                                        line-height: 43px;
                                        color: #484848;
                                    }
                                }
                                .search {
                                    width: 100%;
                                    position: relative
                                }
                                .searchTerm {
                                    float: left;
                                    width: 100%;
                                    border: 1px solid rgb(197, 197, 197);
                                    padding: 25px;
                                    height: 60px;
                                    border-radius: 5px;
                                    outline: none;
                                    color: #9DBFAF;
                                    font-size: 1.4rem;
                                }
                                .searchTerm:focus {
                                    color: #00B4CC;
                                }
                                .searchButton {
                                    position: absolute;
                                    right: -50px;
                                    width: 80px;
                                    height: 40px;
                                    border: none;
                                    background: #3B7CD6;
                                    text-align: center;
                                    color: #fff;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    font-size: 1.4rem;
                                    margin: 10px 60px;
                                }
                                /*Resize the wrap to see the search bar change!*/
                                .wrap {
                                    display: flex;
                                    width: 50%;
                                    position: relative;
                                    justify-content: space-between;
                                    top: 35%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                // .section#container-header {
                                //     display: flex;
                                //     flex-direction: column;
                                //     height: 100vh;
                                //     width: 100%;
                                //     background-image: url(../images/HeroBGHome.svg);
                                //     background-repeat: no-repeat;
                                //     background-position: right;
                                //     background-size: 60%;
                                //     background-color: none;
                                // }
                            }
                        }
                        
                        #container-header {
                            background-color: #d7e5fa;
                            display: flex;
                            position: relative;
                            flex-direction: column;
                            height: 70vh;
                            width: 100%;
                        }
                        
                        .slogan_wrap_about {
                            display: flex;
                            flex-direction: column;
                            width: 40%;
                            position: relative;
                            justify-content: space-between;
                            top: 40%;
                            left: 30%;
                            transform: translate(-50%, -50%);
                            .slogan-about-school {
                                width: 336px;
                                height: 86px;
                                font-family: HelveticaNeue;
                                font-size: 36px;
                                font-weight: bold;
                                line-height: 1.19;
                                text-align: left;
                                color: #365279;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-about-school {
                                width: 500px;
                                height: 96px;
                                font-family: HelveticaNeue;
                                font-size: 16px;
                                line-height: 1.5;
                                text-align: left;
                                color: #365279;
                            }
                            // .btn-light {
                            //     border: none;
                            //     /* Remove borders */
                            //     /* Add a text color */
                            //     color: #3B7CD6;
                            //     padding: 14px 7px;
                            //     font-size: 16px;
                            //     /* Add some padding */
                            //     cursor: pointer;
                            //     /* Add a pointer cursor on mouse-over */
                            //     /* Rectangle 4 Copy: */
                            //     border-radius: 3px;
                            // }
                        }
                        
                        .btn-light {
                            border: none;
                            /* Remove borders */
                            /* Add a text color */
                            color: #3B7CD6;
                            padding: 14px 7px;
                            font-size: 16px;
                            /* Add some padding */
                            cursor: pointer;
                            /* Add a pointer cursor on mouse-over */
                            /* Rectangle 4 Copy: */
                            border-radius: 3px;
                        }
                        
                        .container-header-image {
                            display: flex;
                            height: 1000px;
                            // width: 378px;
                            background-image: url(../images/fund-illustration.svg);
                            background-repeat: no-repeat;
                            // background-position: right;
                            background-size: 80%;
                            background-color: none;
                            margin-left: 60%;
                            margin-right: 10%;
                            // z-index: -1;
                        }
                        
                        #container-body-light {
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            height: 70vh;
                            width: 100%;
                        }
                        
                        .slogan_wrap_about_right {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            position: relative;
                            justify-content: space-between;
                            top: 40%;
                            left: 60%;
                            // transform: translate(-50%, -50%);
                            .slogan-about-sa {
                                width: 398px;
                                height: 40px;
                                font-family: HelveticaNeue;
                                font-size: 28px;
                                font-weight: bold;
                                line-height: 1.43;
                                text-align: left;
                                color: #484848;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-about-sa {
                                width: 421px;
                                height: 112px;
                                font-family: HelveticaNeue;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.33;
                                text-align: left;
                                color: #393959;
                            }
                        }
                        
                        .container-header-image-left {
                            display: flex;
                            height: 2500px;
                            // width: 400px;
                            background-image: url(../images/saforSchoolsImage.svg);
                            background-repeat: no-repeat;
                            background-position: right;
                            background-size: 50%;
                            background-color: none;
                            // margin-left: 40%;
                            margin-right: 50%;
                            // z-index: -1;
                        }
                        
                        #container-body-dark {
                            background-color: #F4F8FB;
                            display: flex;
                            flex-direction: column;
                            height: 70vh;
                            width: 100%;
                        }
                        
                        .slogan_wrap_about_left {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            position: relative;
                            justify-content: space-between;
                            top: 40%;
                            left: 18%;
                            // transform: translate(-50%, -50%);
                            .slogan-about-sa {
                                width: 398px;
                                height: 40px;
                                font-family: HelveticaNeue;
                                font-size: 28px;
                                font-weight: bold;
                                line-height: 1.43;
                                text-align: left;
                                color: #484848;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-about-sa {
                                width: 421px;
                                height: 112px;
                                font-family: HelveticaNeue;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.33;
                                text-align: left;
                                color: #393959;
                            }
                        }
                        
                        .container-header-image-right {
                            display: flex;
                            height: 2000px;
                            // width: 900px;
                            background-image: url(../images/PaymentMethodsIllustrations.svg);
                            background-repeat: no-repeat;
                            background-position: left;
                            background-size: 50%;
                            background-color: none;
                            // margin-left: 40%;
                            margin-left: 60%;
                            // z-index: -1;
                        }
                        
                        .project-illustration {
                            background-image: url(../images/Page1.svg);
                        }
                        
                        .endowment-illustration {
                            background-image: url(../images/EndowmentIllustrartion.svg);
                            margin-right: 50%;
                            background-size: 45%;
                        }
                        
                        .payment-illustration {
                            background-image: url(../images/PaymentMethodsIllustrations.svg);
                            background-size: 70%;
                        }
                        
                        #footer-cta {
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 40vh;
                            position: relative;
                            justify-content: center;
                            // top: 10%;
                            // left: 25%;
                            // transform: translate(-50%, -50%);
                        }
                        
                        .slogan_wrap_about_center {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            position: relative;
                            justify-content: center;
                            align-content: center;
                            top: 10%;
                            left: 25%;
                            .slogan-cta {
                                width: 486px;
                                height: 40px;
                                font-family: HelveticaNeue;
                                font-size: 28px;
                                font-weight: bold;
                                line-height: 1.43;
                                text-align: center;
                                color: #484848;
                                margin-bottom: 1.5%;
                            }
                            .sub_text-cta {
                                width: 620px;
                                height: 54px;
                                font-family: HelveticaNeue;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.33;
                                text-align: center;
                                color: #393959;
                            }
                        }
                        
                        .bottom-cta {
                            display: flex;
                            width: 100%;
                            position: relative;
                            align-items: center;
                            flex-direction: column;
                        }
                        
                        .button-wrap {
                            display: flex;
                            width: 100%;
                            position: relative;
                            align-content: center;
                        }
                        
                        .btn {
                            border: none;
                            /* Remove borders */
                            /* Add a text color */
                            color: white;
                            padding: 14px 7px;
                            font-size: 16px;
                            /* Add some padding */
                            cursor: pointer;
                            /* Add a pointer cursor on mouse-over */
                            /* Rectangle 4 Copy: */
                            border-radius: 3px;
                        }
                        
                        .success {
                            background-color: #8BB6F4;
                            margin-bottom: 10%;
                            margin-top: 5%;
                            width: 30%;
                            margin-left: 35%;
                        }
                        /* Green */
                        
                        .success:hover {
                            background-color: #3B7CD6;
                        }
                        
                        .body {
                            // display: flex;
                            // 
                            width: 100%;
                            overflow-x: hidden;
                        }
                        
                        .normal {
                            background-color: white;
                            margin-top: 10%;
                            width: 25%;
                            color: #3B7CD6;
                        }
                        /* Green */
                        
                        .normal:hover {
                            background-color: f4f6f8;
                        }
                        
                        //   dara
                        .container .section#about {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            height: 100vh;
                            width: 100%;
                            padding: 0 120px 100px;
                        }
                        
                        .container .main hr {
                            width: 100%;
                            margin: 0 auto;
                        }
                        
                        .main .proj:last-of-type {
                            margin-bottom: 40%;
                        }
                        
                        .main .project-category {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            font-size: 40px;
                            line-height: inherit;
                            margin: 3% 0;
                        }
                        
                        .main .project-grid {
                            width: 100%;
                        }
                        
                        .project-grid .project {
                            width: 21.82%;
                            height: 40rem;
                            display: inline-flex;
                            box-sizing: border-box;
                            background: #fff;
                            border-radius: 2px;
                            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
                            position: relative;
                            margin-right: 4%;
                            margin-bottom: 10%;
                            transition: box-shadow .25s ease;
                            vertical-align: middle;
                        }
                        
                        .project-grid .project:nth-of-type(4n + 0) {
                            margin-right: 0;
                        }
                        
                        .project-grid:before,
                        project img:after {
                            content: '';
                            display: block;
                            clear: both;
                            height: 0;
                        }
                        
                        .project img {
                            position: absolute;
                            width: 100%;
                            top: 0;
                            display: block;
                        }
                        
                        .project-info {
                            position: relative;
                            clear: both;
                            padding: 0 20px;
                            top: 190px;
                        }
                        
                        .project-info span {
                            color: #474747;
                        }
                        
                        .progress-bar {
                            margin: 25px 0;
                            background-color: #d8d8d8;
                            border-radius: 1px;
                        }
                        
                        .progress-level {
                            height: 5px;
                            width: 60%;
                            background-color: #6ba3f1;
                            border-radius: 1px;
                        }
                        /* Login */
                        
                        .container .section#login {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            height: 100vh;
                            width: 100%;
                            background-color: #f4f4f4;
                            background-repeat: no-repeat;
                            background-position: right;
                            background-size: 60%;
                        }
                        
                        .login-wrapper {
                            margin: auto;
                        }
                        
                        .login-intro {
                            margin-top: 13%;
                            margin-bottom: 10%;
                        }
                        
                        .login-welcome {
                            font-family: HelveticaNeue;
                            font-size: 32px;
                            font-weight: 500;
                            text-align: center;
                            margin-bottom: 1.5%;
                        }
                        
                        .login-subtext {
                            font-family: HelveticaNeue;
                            font-size: 16px;
                            line-height: 1.81em;
                            color: #000000;
                            text-align: center;
                        }
                        
                        .login-form {
                            margin: 0 auto;
                        }
                        
                        .login-form input[type="text"],
                        .login-form label {
                            font-size: 14px;
                            display: block;
                            width: 100%;
                        }
                        
                        .login-form label {
                            padding-bottom: 8px;
                            padding-top: 25px;
                            clear: both;
                        }
                        
                        .login-form input[type="text"] {
                            padding-bottom: 5px;
                            border: none;
                            float: left;
                            line-height: 2.4em;
                            -webkit-appearance: none;
                            border: solid 1px #efefef;
                            border-radius: 3px;
                        }
                        
                        .login-form input[type="submit"] {
                            background-color: #6ba3f1;
                            width: 100%;
                            font-family: HelveticaNeue;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            color: #ffffff;
                            border: none;
                            border-radius: 5px;
                            padding: 0.9em;
                            margin-top: 40px;
                            cursor: pointer;
                            box-shadow: 1px 2px 4px 1px rgba(107, 163, 241, 0.41);
                        }
                        
                        .login-form p {
                            padding-top: 30px;
                            font-size: 14px;
                            line-height: 1.5em;
                            text-align: center;
                            color: #474646;
                        }
                        
                        .login-form p a {
                            color: #6ba3f1;
                            text-decoration: none;
                        }
                        
                        input:focus {
                            outline: none;
                        }
                        
                        input::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: #bbbbbb;
                        }
                        
                        input::-moz-placeholder {
                            /* Firefox 19+ */
                            color: #bbbbbb;
                        }
                        
                        input:-ms-input-placeholder {
                            /* IE 10+ */
                            color: #bbbbbb;
                        }
                        
                        input:-moz-placeholder {
                            /* Firefox 18- */
                            color: #bbbbbb;
                        }
                        
                        input {
                            padding: 0.3em 0.6em;
                        }
                        /* FAQ's */
                        
                        .container .section#faqs {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            height: 100vh;
                            width: 100%;
                            background-color: #fff;
                            background-repeat: no-repeat;
                            background-position: right;
                            background-size: 60%;
                        }
                        
                        .faqs-wrapper {
                            margin: 0 auto;
                        }
                        
                        .faqs-intro {
                            margin-bottom: 7%;
                            margin-top: 22%;
                        }
                        
                        .faqs-welcome {
                            font-family: HelveticaNeue;
                            font-size: 45px;
                            font-weight: bold;
                            line-height: 1.5em;
                            text-align: center;
                            color: #365279;
                        }
                        
                        .faqs-subtext {
                            font-family: HelveticaNeue;
                            font-size: 16px;
                            line-height: 1.81em;
                            color: #000000;
                            text-align: center;
                        }
                        
                        .faqs-nav ul {
                            text-align: center;
                            border-top: 1px solid #e0e0e0;
                            border-bottom: 1px solid #e0e0e0;
                        }
                        
                        .faqs-nav ul li {
                            display: inline-flex;
                            margin: 1.7em .5em 0;
                            font-family: Avenir;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 600;
                            color: #0c0c0c;
                            cursor: pointer;
                        }
                        
                        .faqs-nav ul li.active {
                            border-bottom: 3px solid #000;
                        }
                        
                        .faqs-nav ul li:hover {
                            border-bottom: 3px solid #eee;
                        }
                        
                        .faqs-content {
                            margin: 5% 15%;
                            display: inline-block;
                        }
                        
                        .faqs-content .topic-list {
                            width: 10%;
                            display: inline-block;
                            float: left;
                            position: fixed;
                        }
                        
                        .faqs-content .topic-list li a {
                            text-decoration: none;
                            color: #000;
                        }
                        
                        .topic-category {
                            width: 70%;
                            display: inline-block;
                            float: left;
                            margin-left: 22%;
                            padding-bottom: 5%;
                            border-bottom: 1px solid #dcdcdc;
                        }
                        
                        .faqs-content>.topic-category~.topic-category {
                            padding-top: 0;
                        }
                        
                        .faqs-content .topic-list ul {
                            border-left: 1px solid #979797;
                            padding-left: 10px;
                        }
                        
                        .faqs-content .topic-list ul li {
                            margin-top: 15px;
                            margin-bottom: 15px;
                            font-family: Avenir;
                            font-size: 15px;
                            line-height: 1.5;
                            color: #000000;
                        }
                        
                        .faqs-content .topic-header {
                            font-family: Avenir;
                            font-size: 36px;
                            font-weight: 600;
                            line-height: 1.5;
                            text-align: left;
                            color: #000000;
                            padding-bottom: 35px;
                            padding-top: 35px;
                        }
                        
                        .faqs-content .topic-header:first-of-type {
                            padding-top: 0;
                        }
                        
                        .faqs-content .topic-query {
                            font-family: Avenir;
                            font-size: 17px;
                            font-weight: 600;
                            line-height: 1.33;
                            text-align: left;
                            color: #000000;
                        }
                        
                        .faqs-content .topic-answer {
                            margin-top: 15px;
                            margin-bottom: 15px;
                            font-family: Avenir;
                            font-size: 15px;
                            line-height: 1.5;
                            color: #000000;
                        }
                        
                        .topic-category .topic {
                            padding-bottom: 20px;
                        }
                        
                        .topic-category .topic-column {
                            width: 37%;
                            display: inline-block;
                            margin-right: 10%;
                            vertical-align: top;
                        }
                        
                        .topic-category .topic-column .first {
                            margin-right: 10%;
                        }
                        /* Footer */
                        
                        .container .section#footer {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            height: 100%;
                            padding: 0 120px;
                        }
                        
                        footer {
                            display: flex;
                            flex-direction: row;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 30px;
                            border-top: 1px solid #cccccc;
                        }
                        
                        footer .footer-content {
                            padding-top: 40px;
                        }
                        
                        footer .footer-logo {
                            display: inline-block;
                            left: 0;
                            background: url(../images/SALogoGreyscale.svg) no-repeat;
                            width: 60px;
                            height: 60px;
                            position: absolute;
                            background-size: contain;
                            cursor: pointer;
                            vertical-align: middle;
                        }
                        
                        .footer-logo span {
                            margin-left: 84px;
                            display: inline;
                            margin-right: 1.4rem;
                            font-family: 'SF UI Display', Helvetica, sans-serif;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            color: #707070;
                        }
                        
                        footer .footer-nav {
                            position: absolute;
                            right: 0;
                        }
                        
                        footer .footer-nav ul {
                            float: left;
                            vertical-align: bottom;
                        }
                        
                        footer .footer-nav .general li {
                            display: inline;
                            margin-right: 1.4rem;
                            font-family: 'SF UI Display', Helvetica, sans-serif;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            color: #707070;
                        }
                        
                        footer .footer-nav .social .facebook {
                            display: inline-block;
                            margin-right: 5px;
                            background: url(../images/icons-facebook.svg) no-repeat;
                            width: 18px;
                            height: 18px;
                            position: relative;
                            background-size: contain;
                            cursor: pointer;
                            vertical-align: middle;
                        }
                        
                        footer .footer-nav .social .twitter {
                            display: inline-block;
                            margin-right: 2px;
                            background: url(../images/icons-twitter.svg) no-repeat;
                            width: 19px;
                            height: 18px;
                            position: relative;
                            background-size: contain;
                            cursor: pointer;
                            vertical-align: middle;
                        }
                        
                        footer .footer-nav .social .instagram {
                            display: inline-block;
                            margin-right: 5px;
                            background: url(../images/icons-instagram.svg) no-repeat;
                            width: 18px;
                            height: 18px;
                            position: relative;
                            background-size: contain;
                            cursor: pointer;
                            vertical-align: middle;
                        }
                        
                        footer .footer-nav .social {
                            margin-left: 25px;
                        }
                        /* Media Queries */
                        
                        @media (max-width:800px) {}
                        
                        @media (max-width:640px) {
                            .container .section#about {
                                padding: 0 30px 100px;
                            }
                            .main .project-category {
                                margin: 10% 0;
                            }
                            .project-grid .project {
                                width: 100%;
                                margin-bottom: 27%;
                            }
                            .login-form {
                                width: 60%;
                            }
                        }
                        
                        @media (max-width:400px) {
                            .login-form {
                                width: 80%;
                            }
                        }